.submitActionLoading{
	background: url(images/btns_red.gif) top center no-repeat !important;
	text-shadow: 1px 1px 0 #b55f10 !important;
}

.submitActionLoading:hover{
	background: url(images/btns_red.gif) top center no-repeat !important;
	text-shadow: 1px 1px 0 #b55f10 !important;
}

.redBorder{
	border-color: red !important;
}

.checkboxAlignMiddle input[type=checkbox]{
    margin-top: 5px !important;
}

.sortable tr th, .sortable tr td {
    border-right: 1px solid;
    border-right-color: #555555;
}

.sortable tr th{
    border-top: 1px solid;
    border-top-color: #555555;
}

.sortable tr th:hover, .headerSortDown:hover, .headerSortUp:hover{
    color: #3AA3E6 !important;
}